.list-container {
  display: flex;
  list-style-type: none;
  border-radius: 7px;
  border-width: 1px;
  border-color: #b91c1c;
  border-style: solid;
  width: 30%;
  padding: 10px;
  margin-bottom: 25px;
  margin-right: 7px;
}
.button-two {
  border-radius: 50px;
  border-width: 0px;
  width: 25px;
  align-self: center;
  padding: 5px;
}
.user-details {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.hi-five {
  display: flex;
  justify-content: center;
  align-items: center;
}
.website {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
  padding-bottom: -1px;
  align-self: center;
}
.user-name {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
  align-self: center;
}
.user-name-two {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
  width: 250px;
  text-align: center;
}
.image {
  height: 50px;
  width: 250px;
}
.delete-logo {
  height: 2.5vh;
  width: 25px;
  align-self: center;
}
.delete-button {
  height: 5vh;
  width: 50px;
  background-color: transparent;
  border-radius: 7px;
  border-width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
